


body {
    height: 80vh;
    width: 100vw;
}

header {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: rgb(108, 108, 110);
    color: white;
    font-size: 2.3rem;
    font-weight: 700;
}

main {
    padding: .9rem;
    height: 100%;
    border: solid rgb(83, 126, 206) 1px;
}